:root {
  --light-bluey: #007ba6;
  --dark-bluey: #004f68;
  --white: #fff;
  --black: #000;
  --off-white: #f1f1f1;
  --envision-gray: #c0c0c0;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--dark-bluey);
  box-sizing: border-box;
  overflow-x: hidden;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

::-webkit-scrollbar-thumb {
  background: var(--dark-bluey);
  border-radius: 50px;
}

::-webkit-scrollbar {
  background: var(--light-bluey);
  width: 8px;
}

@font-face {
  font-family: envision sans;
  src: url("./fonts/helvetica/Helvetica.ttf");
}

@font-face {
  font-family: envision regular;
  src: url("./fonts/Inter/Inter-Regular.ttf");
}

.hero-txt-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: var(--light-bluey);
  position: relative;
  z-index: 2;
}

.hero-txt-wrapper {
  padding: 1.5rem;
}

.hero-txt-wrapper .hero-txt {
  font-family: envsion sans, sans-serif;
  font-size: clamp(3.25rem, -6.7734rem + 30.0781vw, 11.875rem);
  color: #fff;
  font-weight: 400;
  line-height: 218px;
}

.container {
  display: flex;
  margin: auto;
  position: relative;
  transition: background-color 0.5s;
}

.one {
  top: -20rem;
  padding: 0 5rem;
  background-color: var(--light-bluey);
}

.two {
  /* top: -150rem; */
  position: relative;
  flex-direction: column;
  background-color: var(--dark-bluey);
}

.three {
  /* top: -30rem; */
  padding: 0 5rem;
  background-color: var(--dark-bluey);
}

.four {
  /* top: -30rem; */
  padding: 0 5rem;
  background-color: var(--dark-bluey);
}

.five {
  justify-content: center;
  flex-direction: column;
  padding: 0 5rem;
}

.six {
  display: block;
  background-color: var(--dark-bluey);
}

.seven {
  padding: 0 5rem;
  padding-left: 10vw;
  background-color: var(--dark-bluey);
}

.sc-sv-img-wrapper {
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  min-width: 100%;
  position: relative;
  height: 100vh;
  background: var(--dark-bluey);
}

.sc-sev-img {
  position: relative;
  width: 100vw;
}

.sc-sev-img .img {
  max-width: 100%;
  z-index: 4;
}

.sc-one .img {
  position: relative;
  z-index: 3;
  /* width: 100%;
  height: 600px; */
}

.setter {
  position: absolute;
  left: 60%;
  top: 0;
}

.x-axis {
  position: absolute;
  left: 95%;
  top: 97%;
  z-index: 3;
  height: 2px;
  background: var(--light-bluey);
}

.vector{
  position: relative;
  z-index: 4;
}

.sc-one::after {
  content: "";
  width: 100vw;
  height: 100vh;
  background: var(--white);
  position: absolute;
  z-index: -2;
  left: 0;
  clip-path: polygon(100% 0%, 0% 112%, 100% 100%);
}

.sc-two {
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sc-three {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
}

.sc-three::after {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--dark-bluey);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  clip-path: polygon(100% 0, 0 0%, 100% 100%);
  z-index: 0;
}

.truck {
  position: absolute;
  max-width: 100%;
  bottom: 5rem;
  left: 45%;
  z-index: -1;
}

.scnz-wrapper {
  width: 50%;
  position: relative;
}

.connection {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 20%;
  right: 50%;
  z-index: 1;
}

.connection-two {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -40%;
  right: 26%;
  z-index: 1;
}

.connect {
  width: 1px;
  background: var(--white);
}

.connect-two {
  width: 1px;
  background: var(--white);
}

.txt-wrapper {
  position: relative;
  width: 50%;
}

.blank-txt {
  height: 20vh;
  width: 100%;
}

.txt-one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.txt-two {
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
}

.txt-three {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  /* position: sticky;
  top: 20%;
  z-index: 1;  */
}

.txt-four {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  /* position: sticky;
  top: 20%; */
}

.txt-five {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  height: 100vh;
  width: 100%;
  top: -5rem;
}

.txt-six {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  width: 100%;
}

.sec-one-wrapper .line-wrapper {
  transform: scale(1.5);
}

.conceptual-wrapper {
  margin-left: 10vw;
}

.scene-four-txt {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scene-one {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 2;
}

.scene-two {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 2;
}

.scene-three {
  width: 100%;
  height: 50vh;
}

.scene-five {
  margin: auto;
  width: 70%;
  opacity: 0;
}

.space {
  height: 100vh;
}

.base-img-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.base-img-wrapper img {
  width: 70%;
}

.line-wrapper {
  overflow: hidden;
}

.line {
  font-size: 36px;
  font-family: envision regular, sans-serif;
  color: var(--white);
}

.img-txt p {
  font-size: clamp(2rem, 0.7109rem + 4.2969vw, 3.375rem);
  font-family: envision regular, sans-serif;
  color: var(--white);
}

.img-txt {
  position: absolute;
  z-index: 3;
  left: 20%;
  top: 15%;
}

.bullets {
  position: absolute;
  z-index: 3;
  top: 42%;
  left: 35%;
}

.sec {
  position: absolute;
  top: 15%;
  left: 55%;
}

.b-two {
  position: absolute;
  top: 40%;
  left: 60%;
}

.bullets .points {
  font-size: 18px;
  font-family: envision regular, sans-serif;
  color: var(--envision-gray);
  margin: 15px 0;
}

.points::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("./img/arrowdown.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: -30px;
  margin-top: 2px;
}

.points:first-child:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("./img/arrowup.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: -30px;
  margin-top: 2px;
}

.txt-black {
  color: var(--white);
  font-size: clamp(1rem, -1.8125rem + 9.375vw, 3rem);
}

.txt-small {
  font-size: 32px;
}

.upper {
  font-size: clamp(2rem, 0.7109rem + 4.2969vw, 3.375rem);
}

.spacer {
  height: 40vh;
}

.btn-wrapper {
  opacity: 0;
}

.btn {
  background: var(--light-bluey);
  color: var(--white);
  border-radius: 10px;
  padding: 1rem;
  border: none;
  cursor: pointer;
}

.btn a {
  color: var(--white);
  text-decoration: none;
}

@media (min-width: 1024px) {
  .mobile-container {
    display: none;
  }
}

@media (max-width: 1024px) {
  .container {
    display: none;
  }

  .mobile-container {
    padding: 5rem 0;
  }

  .spacer {
    display: none;
  }

  .hero-txt-wrapper {
    height: 80%;
  }

  .m-one {
    position: relative;
    top: -15rem;
    z-index: 2;
  }

  .m-two {
    position: relative;
    top: -15rem;
    background: var(--dark-bluey);
  }
  
  .m-three {
    position: relative;
    top: 65rem;
  }

  .m-txt-wrapper {
    display: flex;
    align-items: center;
    padding: 0 10vw;
  }

  .m-txt {
    margin: auto;
    color: var(--white);
    font-size: clamp(1rem, -1.8125rem + 9.375vw, 4rem);
    font-family: envision regular;
  }

  .m-txt-white {
    color: var(--white);
    font-size: clamp(1.5rem, -1.8125rem + 9.375vw, 4.5rem);
    font-family: envision regular;
  }

  .m-img-wrapper {
    padding: 0 10vw;
  }

  .m-small {
    font-size: clamp(1rem, -0.5rem + 8vw, 1.5rem);
  }

  .m-large {
    text-align: center;
    font-size: clamp(1rem, -1.625rem + 14vw, 1.2rem);
  }

  .sc-sev-img img {
    width: 100%;
    height: 100%;
  }

  .sc-sv-img-wrapper {
    flex-direction: column;
  }

  .sc-one::after {
    z-index: 0;
    clip-path: polygon(100% 0%, -265% 112%, 100% 100%);
  }

  .img-txt p {
    font-size: clamp(1rem, 0.7109rem + 4.2969vw, 1.5rem);
  }

  .img-txt {
    top: 0%;
  }

  .bullets .points {
    font-size: 12px;
    margin: 8px 0;
  }

  .points:first-child:before {
    width: 12px;
    height: 12px;
    background-size: contain;
  }

  .points::before {
    width: 12px;
    height: 12px;
    background-size: contain;
  }

  .bullets {
    top: 35%;
    left: 20%;
  }

  .b-two {
    left: 60%;
  }

  .btn-wrapper {
    opacity: 1;
    padding: 0 10vw;
  }
}
