:root {
  --light-bluey: #007ba6;
  --dark-bluey: #004f68;
  --white: #fff;
  --black: #000;
  --off-white: #f1f1f1;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--light-bluey);
  transition: background-color 0.3s;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

::-webkit-scrollbar-thumb {
  background: var(--dark-bluey);
  border-radius: 50px;
}

::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}

@font-face {
  font-family: envision sans;
  src: url("./fonts/helvetica/Helvetica.ttf");
}

@font-face {
  font-family: envision regular;
  src: url("./fonts/Inter/Inter-Regular.ttf");
}

.hero-txt-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.hero-txt-wrapper {
  padding: 1.5rem;
}

.hero-txt-wrapper .hero-txt {
  font-family: envsion sans, sans-serif;
  font-size: clamp(2.25rem, -6.7734rem + 30.0781vw, 11.875rem);
  color: #fff;
  font-weight: 400;
  line-height: 218px;
}

.container {
  display: flex;
  padding: 0 5rem;
  margin: auto;
  position: relative;
}

.one {
  top: -20rem;
}

.two {
  top: -150rem;
}

.three {
  top: -30rem;
}

.four {
  top: -30rem;
}

.scnz-wrapper {
  width: 50%;
  position: relative;
}

.connection {
  position: absolute;
  width: 1px;
  background: var(--white);
  right: 22.3rem;
  top: 38rem;
}

.txt-wrapper {
  width: 50%;
}

.blank-txt {
  height: 20vh;
  width: 100%;
}

.txt-one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.txt-two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
}

.txt-three {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
}

.txt-four {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
}

.conceptual-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.scene-four-txt {
  margin-left: 12vw;
  height: 100vh;
  width: 100%;
}

.scene-one {
  width: 100%;
  height: 100vh;
}

.scene-two {
  width: 100%;
  height: 100vh;
}

.scene-three {
  width: 100%;
  height: 50vh;
}

.line-wrapper {
  overflow: hidden;
}

.line {
  font-size: 36px;
  font-family: envision regular, sans-serif;
  color: var(--white);
}

.txt-black {
  color: var(--black);
  font-size: clamp(1rem, -1.8125rem + 9.375vw, 4rem);
}